node_modules/
dist/
.next/
*.local
.DS_Store
.env
.env.local
.env*.local
package-lock.json
*.tsbuildinfo

# Flutter
flutter/.dart_tool/
flutter/build/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/pubspec.lock

# iOS
ios/*.xcodeproj
ios/*.xcworkspace
ios/Pods/
ios/build/
ios/SanwoExample/Config.swift

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/app/src/main/kotlin/com/example/sanwocheckout/Config.kt

# Flutter example keys
flutter/.env
*/environments/environment.ts
.angular
